// Colors

$main-color: rgb(255, 255, 255);
$main-text-color: rgb(130, 130, 130);
$second-text-color: rgb(85, 85, 85);
$footer-text-color: rgb(215, 215, 215);
$placeholder-color: rgb(171, 171, 171);
$offer-background-color: rgb(246, 246, 246);
$foot-background-color: rgb(1, 30, 34);
$social-background-color: rgb(207, 207, 207);
$violet: rgb(144, 104, 190);
$blue: rgb(2, 198, 216);
$orange: rgb(228, 110, 72);
$darkgreen: rgb(50, 108, 115);

// Font-sizes

$h1-font-size: 3.75em;
$h2-font-size: 2em;
$h3-font-size: 1.5em;
$text-font-size: 1.2em;